<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="app">
    {{#block "header"}}
    <h1>Title</h1>
    {{/block}}

    {{#block "content"}}
    {{/block}}

    {{#block "footer"}}
    <div class="footer">
        <span>Powered by Handlebars.java</span>
    </div>
    {{/block}}
</div>
{{#block "scripts"}}
{{/block}}
</body>
</html>