<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="app">
    {{> components/header}}

    {{#block "content"}}
    {{/block}}

    {{> components/footer}}
</div>
{{#block "scripts"}}
{{/block}}
</body>
</html>