{% extends "layouts/base" %}

{% block content %}
    <h1 class="my-title">Mustache template tutorial by JSONReplaceholder</h1>
    <div id="content-pane">
        <table>
            <thead>
            <tr>
                <th>name</th>
                <th>username</th>
                <th>email</th>
                <th>phone</th>
                <th>website</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td><a href="{{ user.website }}">{{ user.website }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/css/project.css" />
{% endblock %}
